[buildout]
index = http://packages.lizardsystem.nl
find-links =
unzip = true
prefer-final = true
versions = versions
parts =
    test
    omelette
    console_scripts
    sphinx
develop = .
eggs =
    soliddjango


[versions]
# Specific pins
soliddjango =
buildout-versions = 1.5
zc.buildout =
zc.recipe.egg =
setuptools = 33.1.1

# Reported by buildout-versions
Jinja2 = 2.6
Pygments = 1.5
Sphinx = 1.1.3
collective.recipe.omelette = 0.15
collective.recipe.sphinxbuilder = 0.7.1
docutils = 0.9
pbp.recipe.noserunner = 0.2.6


[test]
recipe = pbp.recipe.noserunner
eggs = soliddjango
defaults = soliddjango


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs =
    ${buildout:eggs}


[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc/source
build = ${buildout:directory}/doc/build
eggs = ${buildout:eggs}
